/* https://github.com/tailwindlabs/tailwindcss/blob/v3.4.17/src/css/preflight.css#L198 */
/* :where is not supported */
button {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
}

*:focus {
	outline: none;
}
