@import "./chrome86-fixes.css";

@import "@fontsource-variable/geist";
/* @import "tw-animate-css";
@import "shadcn/tailwind.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300, 50%, 100%;
    --foreground: 240, 11%, 4%;
    --card: 300, 50%, 100%;
    --card-foreground: 240, 11%, 4%;
    --popover: 300, 50%, 100%;
    --popover-foreground: 240, 11%, 4%;
    --primary: 240, 6%, 10%;
    --primary-foreground: 240, 0%, 98%;
    --secondary: 240, 4%, 96%;
    --secondary-foreground: 240, 6%, 10%;
    --muted: 240, 4%, 96%;
    --muted-foreground: 240, 4%, 46%;
    --accent: 240, 4%, 96%;
    --accent-foreground: 240, 6%, 10%;
    --destructive: 352, 124%, 41%;
    --border: 240, 6%, 90%;
    --input: 240, 6%, 90%;
    --ring: 240, 6%, 64%;
    --chart-1: 24, 138%, 40%;
    --chart-2: 176, 177%, 21%;
    --chart-3: 196, 72%, 23%;
    --chart-4: 47, 160%, 39%;
    --chart-5: 41, 156%, 39%;
    --radius: 0.625rem;
    --sidebar: 240, 0%, 98%;
    --sidebar-foreground: 240, 11%, 4%;
    --sidebar-primary: 240, 6%, 10%;
    --sidebar-primary-foreground: 240, 0%, 98%;
    --sidebar-accent: 240, 4%, 96%;
    --sidebar-accent-foreground: 240, 6%, 10%;
    --sidebar-border: 240, 6%, 90%;
    --sidebar-ring: 240, 6%, 64%;
    --font-sans: 'Geist Variable', sans-serif;
  }

  .dark {
    --background: 240, 11%, 4%;
    --foreground: 240, 0%, 98%;
    --card: 240, 6%, 10%;
    --card-foreground: 240, 0%, 98%;
    --popover: 240, 6%, 10%;
    --popover-foreground: 240, 0%, 98%;
    --primary: 223, 55%, 53%;
    --primary-foreground: 214, 96%, 97%;
    --secondary: 240, 4%, 16%;
    --secondary-foreground: 240, 0%, 98%;
    --muted: 240, 4%, 16%;
    --muted-foreground: 240, 6%, 64%;
    --accent: 240, 4%, 16%;
    --accent-foreground: 240, 0%, 98%;
    --destructive: 359, 102%, 70%;
    --border: 300, 50%, 100%;
    --input: 300, 50%, 100%;
    --ring: 240, 4%, 46%;
    --chart-1: 225, 84%, 49%;
    --chart-2: 164, 183%, 26%;
    --chart-3: 41, 156%, 39%;
    --chart-4: 272, 108%, 65%;
    --chart-5: 345, 101%, 56%;
    --sidebar: 240, 6%, 10%;
    --sidebar-foreground: 240, 0%, 98%;
    --sidebar-primary: 225, 84%, 49%;
    --sidebar-primary-foreground: 240, 0%, 98%;
    --sidebar-accent: 240, 4%, 16%;
    --sidebar-accent-foreground: 240, 0%, 98%;
    --sidebar-border: 300, 50%, 100%;
    --sidebar-ring: 240, 4%, 46%;
  }
}

@layer base {
  * {
    @apply border-border;
    user-select: none;
  }

  body {
    @apply text-foreground;
  }

  html {
    @apply font-sans;
  }

  html,
  body,
  #app {
    height: 100%;
  }
}