-- Добавляет некоторые функции из IGS, например ply:HasPurchase()
donatos.config.igsCompat = true

-- Кнопка для открытия донат-меню
donatos.config.menuKeyBind = KEY_F6

-- Пример кастомизации интерфейса

--[[ donatos.uiConfig = {
  theme = {
    radius = 6,
    colors = {
      background = Color(9, 9, 11),
      foreground = Color(250, 250, 250),
      card = Color(45, 45, 55),
      cardForeground = Color(250, 250, 250),
      primary = Color(37, 99, 235),
      primaryForeground = Color(248, 250, 252),
      secondary = Color(241, 245, 249),
      secondaryForeground = Color(15, 23, 42),
      muted = Color(39, 39, 42),
      mutedForeground = Color(161, 161, 170),
    }
  },
}

donatos.UpdateTheme() ]]
