-- Вставить сюда токен из личного кабинета
donatos.config.apiToken = ""


-- Пример заполнения предметов

--[[
donatos.Item("1m_deneg"):SetDarkRPMoney(1000000)
donatos.Item("vip"):SetSAMGroup("vip")
donatos.Item("item"):OnActivate(function (ply, data)
  ply:GiveItem(data.goods.meta)
end)
]]
