-- Добавляет некоторые функции из IGS, например ply:HasPurchase()
donatos.config.igsCompat = true

-- Кнопка для открытия донат-меню
donatos.config.menuKeyBind = KEY_F6

-- Пример кастомизации интерфейса

--[[ donatos.uiConfig = {
  theme = {
    radius = 6,
    colors = {
      background = Color(29, 36, 41),
      foreground = Color(250, 250, 250),
      card = Color(9, 9, 11),
      cardForeground = Color(250, 250, 250),
      primary = Color(58, 102, 135),
      primaryForeground = Color(116, 212, 221),
      secondary = Color(50, 62, 73),
      secondaryForeground = Color(210, 210, 210),
      muted = Color(0, 0, 0),
      mutedForeground = Color(161, 161, 170),
    }
  },
}

donatos.UpdateTheme() ]]
