on:
  push:
    branches: [ 'main' ]

permissions:
  contents: write

env:
  DONATOS_ADDON_VERSION: 'v1.0-dev${{ github.run_number }}'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repo
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        name: Install Bun

      - name: Install dependencies
        run: bun install

      - name: Build
        working-directory: ./lua/main
        run: bun run build

      - name: Pack addon ZIP
        working-directory: ./bootstrap
        run: zip -r donatos-addon.zip .

      - name: Create release
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');

            const release = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              draft: false,
              prerelease: false,
              tag_name: '${{ env.DONATOS_ADDON_VERSION }}'
            });

            const uploadAsset = (name, path) => github.rest.repos.uploadReleaseAsset({
              owner: context.repo.owner,
              repo: context.repo.repo,
              origin: release.data.upload_url,
              release_id: release.data.id,
              name: name,
              data: fs.readFileSync(path)
            });

            await uploadAsset('bundle.lua', 'lua/main/dist/bundle.lua');
            await uploadAsset('donatos-addon.zip', 'bootstrap/donatos-addon.zip');
